.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.field div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.field input {
  width: 55px;
  height: 65px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #fedc30;
  margin: 3px;
  color: #d9d9d9;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
